# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# IDE / Editor files
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log